/.metadata
/libraries
/standardNaast-business
/standardNaast-common
/standardNaast-ear
/standardNaast-front
/standardNaast-persistence
/standardNaast-web
/standardNaast-webservices
/standardNaastSwing
/standardNaastWebServices
/standardNaastAngular
/database
target/
*.class
standardnaast-backend/target/
.idea/
*.iml

/data/
/standardnaast-ng/node_modules/
/standardnaast-ng/node/
/standardnaast-backend/data/
/standardnaast-ng/.angular/
/standardnaast-ng/dist/
/standardnaast-electron/package-lock.json
/standardnaast-electron/node_modules/
/standardnaast-electron/dist-package/
/standardnaast-electron/.tmp-binaries/
/standardnaast-electron/ui/
/standardnaast-electron/resources/backend/
/standardnaast-electron/resources/jre/
/standardnaast-electron/resources/postgres/
