/.metadata
/libraries
/standardNaast-business
/standardNaast-common
/standardNaast-ear
/standardNaast-front
/standardNaast-persistence
/standardNaast-web
/standardNaast-webservices
/standardNaastSwing
/standardNaastWebServices
/standardNaastAngular
/database


